Name: Gunjan Kumawat<br>
Roll no:250243<br>
Course:BCA<br>
Topic: Loops(for and while)

Print number from 1 to 10

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Print even number from 1 to 20

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Print table of a number

In [ ]:
num = 5
i = 1

while i <= 10:
    print(num, "x", i, "=", num * i)
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Print sum of first 10 numbers

In [ ]:
i = 1
sum = 0

while i <= 10:
    sum = sum + i
    i += 1

print("Sum =", sum)

Sum = 55